/.DS_Store
/.vscode
/addEvents.html
/finalProject.html
/functions.html
/mini_project_Fix_URL.html
/miniproject-3.html
/miniproject5.css
/miniproject5.html
/modalProject.html
/modelByHand.html
/your_first-script.html