body{
    
    background: 
        repeating-radial-gradient(circle, rgb(239, 225, 225), 
        rgba(23, 19, 19, 0.7), 
        rgb(37, 22, 22))
        ;
        font-family: 'Roboto', sans-serif;
    
}

.header{
    text-align: center;
    
    color: rgb(95, 95, 177);
    

}
.effekt{
    transition: all 400ms ease-in-out;
    display: inline-block;
    padding: 3px;
}

.effekt:hover{
    transform: rotate(30deg);
    font-size: 130%;
}

.history{
    width: 95%;
    height: auto;
    min-height: 20px;
    text-align: right;
    font-size: 10px;
    margin: 5px 5px;
    
    position: relative;
    top: 0px;
    color: rgb(7, 11, 14);
    word-wrap: break-word;
    padding: 10px;
    background-color: rgba(255, 235, 205, 0.427);
    margin-bottom: 10px;
}



.calculator{
    
    
    width: auto;
    height: auto;
    max-width: 400px;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid gray;
    display: flex;
    flex-flow: wrap;
    background-color: rgb(54, 51, 51);
    flex-grow: 1;
    box-shadow: 2px 2px rgb(9, 6, 6); 
    border-radius: 20px;
    
    padding: 5px;
    
    
}
.displayField{
    
    width: 95%;
    height: auto;
    min-height: 50px;
    text-align: right;
    font-size: 40px;
    margin: 5px 5px;
    
    position: relative;
    top: 10px;
    color: rgb(7, 11, 14);
    word-wrap: break-word;
    padding: 10px;
    background-color: rgba(255, 235, 205, 0.427);
    margin-bottom: 10px;
    
}

.number{
    padding: 5px;
    margin: 5px;
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 30px;
    background-color: rgb(144, 123, 123);
    border-radius: 10px;
    transition: all ease-in-out 200ms;
    
    
}

.operator, .other{
    position: relative;
    justify-content: right;
    padding: 5px;
    margin: 5px;
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgb(144, 123, 123);
    font-size: 30px;
    border-radius: 1px;
    transition: all ease-in-out 200ms;
    border-color: white;
}

.zero, .comma, .equal{
    flex-basis: 30%;
    background-color: rgb(144, 123, 123);
    font-size: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px;
    margin: 5px;
}
.operator:hover, .number:hover{
    color: blue;
    border: 1px solid blue;
}
.clear:hover{
    border: 1px solid red;
    color: red;
}
.left, .right, .upper{
    flex-basis: 8%;
}

.zero, .comma{
    flex-grow: 0;
}

.signature{
    position: absolute;
    font-size: 0.6rem;
    max-width: 150px;
    right: 15px;
    bottom: -10px;
    color: white;
    
}
.upper{
    opacity: 0.2;
}

@media screen and (max-width:501px) {
    .signature{
        font-size: 0.7rem;
        bottom: -10px;
        margin: 5px;
        margin-bottom: 10px;
        margin-top: 20px;
        
    }

    .effekt{
        display: none;
    }

    .operator, .number, .other{
        position: relative;
        justify-content: right;
        padding: 5px;
        margin: 5px;
        flex-basis: 20%;
        flex-grow: 1;
        flex-shrink: 1;
        background-color: rgb(144, 123, 123);
        font-size: 20px;
        border-radius: 1px;
        transition: all ease-in-out 200ms;
        border-color: white;
    }
    .calculator{
        flex-grow: 1;
        width: 97%;
        max-width: 97%;
        height: 95%;
        
    
    }

    .displayField{
      
        margin-bottom: 20px;
        text-justify: auto;
    }
  }